
[Unit]
Description=ollama_system FastAPI service
After=network.target

[Service]
User=bradi
Group=bradi
WorkingDirectory=/home/bradi/ollama_system
Environment="PATH=/home/bradi/ollama_system/.venv/bin"
Environment="APP_MODULE=app.main:app"
Environment="WORKERS=1"
ExecStart=/home/ollama/ollama_system/deploy/gunicorn_start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
